<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm sách - Lab03</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Thêm sách mới</h1>
<form th:action="@{/books}" method="post" th:object="${book}">
    <label>Title: <input type="text" th:field="*{title}" required/></label><br/>
    <label>Author: <input type="text" th:field="*{author}" required/></label><br/>
    <button type="submit">Add</button>
    <a th:href="@{/books}">Cancel</a>
</form>
</body>
</html>